<article class="main-container">
  <section class="encrypt-container">
      <div class="input-option">
        <input type="text" [(ngModel)]="textToEncrypted">
      
        <button (click)="encryptClick()">Encrypt</button>
      </div>
      <div class="result-container">
        <label>Result</label>
        
        <div class="result-txt">
          {{resultEncrypted}}
        </div>
      </div>
  </section>

  <section class="decrypt-container">
    <div class="input-option">
      <input type="text" [(ngModel)]="textToDecrypted">
    
      <button (click)="decryptClick()">Decrypt</button>
    </div>
    
    <div class="result-container">
      <label>Result</label>
      
      <div class="result-txt">
        {{resultDecrypted}}
      </div>
    </div>
  </section>
</article>
