.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.encrypt-container, .decrypt-container {
    margin: 10px;
    padding-top: 50px;
    width: 400px;
    height: 200px;
}

.result-container {
    background: #f0f3eb;
    height: 100px;
    width: 100%;
    border: 1px solid;
}

.input-option {
    width: 100%;
    button {
        width:60px;
    }
    input {
        width: calc(100% - 68px)
        //height: 20px;
    }
}